body {
    background-color: burlywood;
}

.signout {
    position: inherit;
    margin-left: 70%;
}

#Welcome {
    background-color: rgb(76, 187, 144);
}

#Welcome button {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.navbar-nav .nav-link {
    color: white !important;
}

.signout button {
    color: white !important;
    background-color: rgb(230, 78, 78) !important;
    padding: 1px;
}

@media ::before {}